@{
    ViewData["Title"] = "Map Explore";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using MapExplore.Models

@*<div id="map"></div>
HI
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiYWxiZWxrYSIsImEiOiJjaXpwc2VlOWwwMHNtMzJvNDZreDMxMTgwIn0.GkWVE5JQRakQyQSoJFKp3A';
var map = L.mapbox.map('map', 'mapbox.run-bike-hike')
    .setView([41.387635, -70.530320], 11);

    L.marker([@Model.Lat, @Model.Long]).addTo(map)
.bindPopup('This is the magical spot where Steve may have smoked lucky strikes after his paper route.')
.openPopup();
</script>*@
<script>
    $(document).ready(function () {
        $('#myButton').click(function (event) {
            event.preventDefault();
            $.ajax({
                url: '@Url.Action("GetBreweries", "Home")',
                type: 'GET',
                data: { zip: "97211" },
                dataType: 'json',
                success: function (result) {
                    L.mapbox.accessToken = 'pk.eyJ1IjoiYWxiZWxrYSIsImEiOiJjaXpwc2VlOWwwMHNtMzJvNDZreDMxMTgwIn0.GkWVE5JQRakQyQSoJFKp3A';
                    var map = L.mapbox.map('map', 'mapbox.run-bike-hike')
                        .setView([45.5588827, -122.6427274], 11);
                    console.log(result);
                    $('#showMap').html(

                    result.forEach(function (thing) {
                        console.log(thing.lat)
                        L.marker([thing.lat, thing.long]).addTo(map)
                    .bindPopup(thing.name)
                    .openPopup();

                    }));
                },
           
            });
        });
    })
</script>

HI

@using (Html.BeginForm( new { @class = "get-brews" }))
{
    @Html.Label("Enter a ZIP code")
    @Html.TextBox("zip")

    <input id="myButton" type="submit" value="Submit" />
}

<div id="showMap"></div>

@model IEnumerable<MapExplore.Models.Brewery>


@*@foreach (var brewery in Model)
{
    <h2>@Html.DisplayFor(model => brewery.Name)</h2>
    <p> @Html.DisplayFor(model => brewery.Lat) , @Html.DisplayFor(model => brewery.Long)</p>

}*@
<div id="map"></div>

